* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  min-height: 100vh;
  font-family: "roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.intro__shutter {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: black;
}

.top {
  top: 0;
  -webkit-animation: slide-top 1s 1s forwards 1;
          animation: slide-top 1s 1s forwards 1;
}

.top::after {
  content: "";
  position: absolute;
  height: 0.4rem;
  width: 100%;
  background-color: white;
  bottom: 0;
  left: -100%;
  -webkit-animation: slide-in-out 0.5s 0.5s forwards 1;
          animation: slide-in-out 0.5s 0.5s forwards 1;
}

.bottom {
  bottom: 0;
  -webkit-animation: slide-bottom 1s 1s forwards 1;
          animation: slide-bottom 1s 1s forwards 1;
}

@-webkit-keyframes slide-in-out {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes slide-in-out {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes slide-top {
  0% {
    top: 0;
  }
  100% {
    top: -50%;
  }
}

@keyframes slide-top {
  0% {
    top: 0;
  }
  100% {
    top: -50%;
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -50%;
  }
}

@keyframes slide-bottom {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -50%;
  }
}

.cookies {
  position: fixed;
  z-index: 1;
  width: 100%;
  bottom: 0;
  background-color: bisque;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  line-height: 1.7rem;
}

.btn {
  text-align: center;
  text-decoration: none;
  margin-left: 0.5rem;
  background-color: #fff;
  background-repeat: repeat no-repeat;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
          box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #32312f;
  border-color: #625d5d;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 6px;
  padding: 0.55rem;
  -webkit-transition: all 235ms ease-in-out;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  width: 7rem;
}

.btn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
}

.btn:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
  -webkit-transform: translate3d(0, 4px, 0);
          transform: translate3d(0, 4px, 0);
}

.header__top,
.footer__top {
  position: relative;
  text-align: center;
  padding: 5rem 0 4rem 0;
}

.header__top__title,
.footer__top__title {
  padding: 1rem;
  position: absolute;
  -webkit-transform: translate(-50%, -65%);
          transform: translate(-50%, -65%);
  left: 50%;
  font-size: 1.9rem;
  text-shadow: 2px 2px 3px white;
}

.header__top__img,
.footer__top__img {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 80%;
}

.header__contacts,
.footer__contacts {
  text-align: center;
  border-bottom: solid 1px #959191;
  width: 88%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.header__contacts__group-1, .header__contacts__group-2, .header__contacts__group-3,
.footer__contacts__group-1,
.footer__contacts__group-2,
.footer__contacts__group-3 {
  display: inline;
  padding-bottom: 0.2rem;
}

.header__contacts__group-1 .link, .header__contacts__group-2 .link, .header__contacts__group-3 .link,
.footer__contacts__group-1 .link,
.footer__contacts__group-2 .link,
.footer__contacts__group-3 .link {
  text-decoration: none;
  color: #000000;
  padding: 0 0.5rem;
}

.logo {
  height: 1.5rem;
  padding: 0 0.2rem;
}

.main {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__info {
  text-align: center;
  display: block;
  width: 100%;
}

.project {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 30%;
}

.project__name {
  font-size: 0.8rem;
  text-align: center;
  padding: 1rem 0;
  height: 200%;
}

.project__img {
  width: 100%;
  margin-bottom: 0.5rem;
  -webkit-box-shadow: -3px 13px 26px -14px rgba(0, 0, 0, 0.74);
          box-shadow: -3px 13px 26px -14px rgba(0, 0, 0, 0.74);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.project__img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.project__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__contacts {
  display: none;
}

@media (max-width: 853px) {
  .header__contacts__group-1, .header__contacts__group-2 {
    padding: 0 0.2rem;
  }
}

@media (max-width: 768px) {
  .main {
    width: 90%;
  }
  .header__top__img {
    height: auto;
    width: 90%;
  }
  .header__contacts {
    display: none;
  }
  .footer {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    -webkit-box-shadow: 0 -0.1rem 0.5rem -0.2rem rgba(0, 0, 0, 0.3);
            box-shadow: 0 -0.1rem 0.5rem -0.2rem rgba(0, 0, 0, 0.3);
  }
  .footer__contacts {
    margin-bottom: 0.3rem;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .footer__contacts__group-1, .footer__contacts__group-2, .footer__contacts__group-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    text-align: left;
  }
  .footer__contacts__group-1 .logo, .footer__contacts__group-2 .logo, .footer__contacts__group-3 .logo {
    padding: 0.5rem 0.2rem 0 0;
  }
  .footer__contacts__group-3 {
    padding: 0rem;
  }
  .footer .location {
    padding: 0;
    margin: 0;
  }
  .project {
    width: 45%;
  }
  .project__name {
    font-size: 1rem;
  }
}

@media (max-width: 640px) {
  .header__top {
    padding: 3.6rem;
  }
  .header__top__title {
    font-size: 1.3rem;
  }
  .project {
    width: 45%;
    padding: 1rem;
  }
  .project__name {
    font-size: 0.7rem;
  }
}

@media (max-width: 435px) {
  .main {
    width: 95%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__info {
    font-size: 0.8rem;
    width: 90%;
  }
  .header__top {
    padding: 2.5rem;
  }
  .header__top__title {
    font-size: 1rem;
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
  }
  .header__contacts {
    font-size: 0.8rem;
  }
  .header__contacts__logo {
    height: 1rem;
  }
  .project {
    width: 90%;
    padding: 1rem;
  }
  .project__name {
    font-size: 0.6rem;
  }
}

@media (max-width: 365px) {
  .header__top__title {
    font-size: 0.93rem;
  }
}
/*# sourceMappingURL=style.css.map */