* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  min-height: 100vh;
  font-family: "roboto", sans-serif;
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.intro__shutter {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: black;
}

.top {
  top: 0;
  -webkit-animation: slide-top 1s 1s forwards 1;
          animation: slide-top 1s 1s forwards 1;
}

.top::after {
  content: "";
  position: absolute;
  height: 0.4rem;
  width: 100%;
  background-color: white;
  bottom: 0;
  left: -100%;
  -webkit-animation: slide-in-out 0.5s 0.5s forwards 1;
          animation: slide-in-out 0.5s 0.5s forwards 1;
}

.bottom {
  bottom: 0;
  -webkit-animation: slide-bottom 1s 1s forwards 1;
          animation: slide-bottom 1s 1s forwards 1;
}

@-webkit-keyframes slide-in-out {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes slide-in-out {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes slide-top {
  0% {
    top: 0;
  }
  100% {
    top: -50%;
  }
}

@keyframes slide-top {
  0% {
    top: 0;
  }
  100% {
    top: -50%;
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -50%;
  }
}

@keyframes slide-bottom {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -50%;
  }
}

.cookies {
  position: fixed;
  z-index: 1;
  width: 100%;
  bottom: 0;
  background-color: bisque;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  line-height: 1.7rem;
}

.btn--close-cookies {
  margin-left: 0.5rem;
  position: absolute;
  background-color: #fff;
  background-repeat: repeat no-repeat;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
          box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 6px;
  padding: 0.55rem;
  -webkit-transition: all 235ms ease-in-out;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.btn--close-cookies:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  -webkit-transform: translate3d(0, 2px, 0);
          transform: translate3d(0, 2px, 0);
}

.btn--close-cookies:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.header {
  position: relative;
  text-align: center;
  padding: 5rem;
}

.header__title {
  padding: 1rem;
  position: absolute;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  left: 50%;
  font-size: 1.9rem;
}

.header__img {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main {
  width: 80%;
  margin: 0 auto;
}

.content > h3 {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

.footer {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 768px) {
  .main {
    width: 90%;
  }
  .header__img {
    width: 90%;
  }
  .header__title {
    font-size: 1.5rem;
  }
}

@media (max-width: 640px) {
  .header {
    padding: 3.6rem;
  }
  .header__title {
    font-size: 1rem;
  }
}

@media (max-width: 435px) {
  .main {
    width: 95%;
  }
  .header {
    padding: 2.5rem;
  }
}

@media (max-width: 365px) {
  .header__title {
    font-size: 0.9rem;
  }
}
/*# sourceMappingURL=style.css.map */