* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  min-height: 100vh;
  font-family: "roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &__shutter {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: rgb(0, 0, 0);
  }
}

.top {
  top: 0;
  animation: slide-top 1s 1s forwards 1;

  &::after {
    content: "";
    position: absolute;
    height: 0.4rem;
    width: 100%;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    left: -100%;
    animation: slide-in-out 0.5s 0.5s forwards 1;
  }
}

.bottom {
  bottom: 0;
  animation: slide-bottom 1s 1s forwards 1;
}

@keyframes slide-in-out {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes slide-top {
  0% {
    top: 0;
  }
  100% {
    top: -50%;
  }
}

@keyframes slide-bottom {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -50%;
  }
}

.cookies {
  position: fixed;
  z-index: 1;
  width: 100%;
  bottom: 0;
  background-color: bisque;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  line-height: 1.7rem;
}

.btn {
  text-align: center;
  text-decoration: none;
  margin-left: 0.5rem;
  background-color: #fff;
  background-repeat: repeat no-repeat;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #32312f;
  border-color: rgb(98, 93, 93);
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 6px;
  padding: 0.55rem;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 7rem;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
}

.btn:active {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
  transform: translate3d(0, 4px, 0);
}

.header,
.footer {
  &__top {
    position: relative;
    text-align: center;
    padding: 5rem 0 4rem 0;

    &__title {
      padding: 1rem;
      position: absolute;
      transform: translate(-50%, -40%);
      left: 50%;
      font-size: 1.9rem;
      text-shadow: 0px 0px 20px rgb(255, 255, 255);
    }

    &__img {
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }

  &__contacts {
    text-align: center;
    border-bottom: solid 1px #959191;
    width: 78%;
    margin: 0 auto;
    margin-bottom: 1rem;

    &__group-1,
    &__group-2 {
      display: inline;
      padding: 0 1rem;
      padding-bottom: 0.2rem;

      .link {
        text-decoration: none;
        color: #000000;
        padding: 0 1rem;
      }
    }
  }
}
.logo {
  height: 1.5rem;
  padding: 0 0.2rem;
}
.main {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  &__info {
    text-align: center;
    display: block;
    width: 100%;
  }
}

.project {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 30%;

  &__name {
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem 0;
    height: 200%;
  }

  &__img {
    margin-bottom: 0.5rem;
    box-shadow: -3px 13px 26px -14px rgba(0, 0, 0, 0.74);
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__btn {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
  }
}

.footer__contacts {
  display: none;
}

@media (max-width: 853px) {
  .header__contacts {
    &__group-1,
    &__group-2 {
      padding: 0 0.2rem;
    }
  }
}

@media (max-width: 768px) {
  .main {
    width: 90%;
  }
  .header__top__img {
    width: 90%;
  }

  .header__contacts {
    display: none;
  }

  .footer {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    box-shadow: 0 -0.1rem 0.5rem -0.2rem rgba(0, 0, 0, 0.3);

    &__contacts {
      border: none;
      display: flex;
      justify-content: center;
      width: 100%;

      &__group-1,
      &__group-2 {
        display: flex;
        flex-direction: column;
        padding: 0;
        text-align: left;

        .logo {
          padding: 0.5rem 0.2rem 0 0;
        }
      }
    }
  }

  .project {
    width: 40%;

    &__name {
      font-size: 1rem;
    }
  }
}

@media (max-width: 640px) {
  .header__top {
    padding: 3.6rem;
  }

  .header__top__title {
    font-size: 1rem;
  }
}

@media (max-width: 435px) {
  .main {
    width: 95%;
    justify-content: center;

    &__info {
      font-size: 0.8rem;
      width: 90%;
    }
  }
  .header {
    &__top {
      padding: 2.5rem;
    }

    &__contacts {
      font-size: 0.8rem;
      &__logo {
        height: 1rem;
      }
    }
  }

  .project {
    width: 90%;
    padding: 1rem;

    &__name {
      font-size: 0.5rem;
    }
  }
}

@media (max-width: 365px) {
  .header__top__title {
    font-size: 0.9rem;
  }
}
